body{
    font-family: 'Open Sans',sans-serif;
    background-color: rgba(0, 0, 0, 0.09);
}

.main{
    width: 320px;
    height: 500px;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4),2px 6px 10px 4px rgba(0, 0, 0, 0.4);
}
.result{
    height: 120px;
    width: 315px;
    background-color: lightcyan;
    color:grey;
    font-weight: bold;
    font-size: 30px;
    text-align: end;
    border: 0;
}
.key{
    height: 300px;
    text-align: center;
}
.btn{
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size:15px;
    cursor: pointer;
}

button:nth-child(4){
    background-color: rgb(173, 179, 230);
}

.equal{
    background-color: lightgreen;
    margin-left: 88px;
}
.zero{
    margin-left: 90px;
}
